# K3s sudah include Traefik by default
# File ini untuk override konfigurasi jika diperlukan

apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: kube-system
data:
  traefik.yaml: |
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entrypoint:
              to: websecure
              scheme: https
      websecure:
        address: ":443"
    
    certificatesResolvers:
      letsencrypt:
        acme:
          email: admin@amconsole.store
          storage: /data/acme.json
          httpChallenge:
            entryPoint: web
    
    providers:
      kubernetesIngress:
        ingressClass: traefik